<!DOCTYPE html>
<html lang="en">

<head>
    <title>AdminPortal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">

</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="background1">
        <div class="shape1"></div>
        <div class="shape1"></div>
    </div>
        
    <div id="main">
        <div id="heading">
            <div id="hh">
            <h2>ADMIN PORTAL</h2>
            </div>
            <div id="options">
                <div id="performance" class="options-button">
                    <a  href="/employee/admin" style="text-decoration: none;"><button >Performance</button></a>
                </div>
                <div id="employee" class="options-button">
                    <a  href="/employee/employeeView"style="text-decoration: none;"><button>Employee</button></a>
                </div>
                <div id="reviews" class="options-button">
                    <a href="/employee/employeeReview" style="text-decoration: none;"><button >Reviews</button></a>
                </div>
                <div id="assign" class="options-button">
                   <button style="color : black" onclick="openReviewForm()">Assign </button></a>
                </div>
            </div>
            <div id="logout">
                <div id="name">
                 <h2>&nbsp;&nbsp;<%=locals.name%></h2>
                </div>
                
               <div id="button">
                    <a style="text-decoration: none;" href="/employee/destroySession"><button>Log Out</button></a>
               </div>
            </div>
        </div>

        <div id="content">


           
            <div id="pending">
                <h3>&nbsp;&nbsp;PENDING REVIEWS</h3>
                <%if(pendingReviewList.length > 0){%>
                    <%for(pendingReview of pendingReviewList){%>
                    
                        <div class="pending-list-item" id="pending-item-1">
                            <div id="pending-item-content">
                                Reviewe &nbsp;: <%=pendingReview.reviewe.name%> <br>
                                    Reviewer : <%=pendingReview.reviewer.name%>
                            </div>
                            <div id="item-dates">
                                <div id="start-date">
                                    <p class="conent-pending-item">&nbsp;&nbsp;Start Date : <%=pendingReview.createdAt.toLocaleDateString('en-us', { year: 'numeric' , month: 'short' , day: 'numeric' })%> </p>
                                </div>
                                <div id="end-date">
                                    <p class="conent-pending-item">&nbsp;&nbsp;End Date : <%=pendingReview.endDate.toLocaleDateString('en-us', { year: 'numeric' , month: 'short' , day: 'numeric' })%></p>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    <%}%>
               
                
            </div>
            
            
            
            <div id="completed">
            
                <h3>&nbsp;&nbsp;COMPLETED REVIEWS</h3>
                <%for(completedReview of completedReviewList){%>

                    <div class="completed-list-item" id="completed-item-1">
                    
                        <div id="completed-item-content">
                            <div id="feedback">
                                <div id="text" style="display: inline;">
                                    Review :
                                </div>
                                <div id="data" style="display: block;">
                                    <%=completedReview.feedback%>
                                </div>
                            </div>
                            <br>
                            <div id="overallPerformance" style="display: block;">
                             Performance :
                                <%for(var i = 0; i < completedReview.overallPerformance; i++){%>
                                    <img src="/images/star.png" style="height: 20px; width: 20px; display: inline;">
                                <%}%>
                                <%for(var i=0; i < (5 - completedReview.overallPerformance); i++){%>
                                    <img src="/images/_star.png" style="height: 20px; width: 20px; display: inline;">
                                 <%}%>
                            </div><br>
                            <div id="improvementAreas" style="display: flex;justify-content: space-between;">
                                <div style="display: inline">
                                        Improvement Areas :
                                </div>
                                <div style=" width: 45%;display: inline; border: 0.5px solid white; border-radius: 2px; padding :5px 5px;">   
                                    <%for(improvement of completedReview.improvementArea){%>
                                        <%=improvement%>,&nbsp;
                                    <%}%>
                                </div>
                              
                            </div>
                    
                        </div>
                        <div id="text">
                            <div id="employee-details">
                                <div class="emp1">
                                    <%if(completedReview.reviewe ==null){%>
                                        Reviewe: Employee Deleted
                                    <%}else{%>
                                        Reviewe: <%=completedReview.reviewe.name%>
                                    <%}%>
                                </div>
                                <div class="emp2">
                                    <%if(completedReview.reviewer==null){%>
                                        Reviewer: Employee Deleted
                                    <%}else{%>
                                        Reviewer: <%=completedReview.reviewer.name%>
                                    <%}%>
                                </div>
                                <div class="emp3">
                                    Review Date : <%=completedReview.reviewDate.toLocaleDateString('en-us', {  year: 'numeric', month: 'short', day: 'numeric' })%>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    
                <%}%>
                
            </div>
        

        </div>

        <div id="overlay">
            <div id="review-form">
                <h2>Employee Review Form</h2>
                <form action="/review/addRev" method="POST">
                    <label>Reviewer :</label>
                    <select onchange="updateSelect2()" id="select1" name="reviewer"
                        style="color: black;margin-top: 10px; width: 60%; overflow-x: scroll; white-space: nowrap; height: 30px;">
                        <%for(employee of employeeList){%>
                            <option value="<%=employee.id%>">
                                <%=employee.name%>
                            </option>
                            <%}%>
                    </select>
                    <label>Reviewe :</label>
                    <select name="reviewe" id="select2"
                        style="color: black;margin-top: 10px; width: 60%; overflow-x: scroll; white-space: nowrap; height: 30px;">
        
                        <%for(employee of employeeList){%>
                            <option value="<%=employee.id%>">
                                <%=employee.name%>
                            </option>
                            <%}%>
                    </select>
                    <label>Pending Date:</label>
                    <input type="date" id="pending-date" name="reviewDate" style="width: 60%;" required><br><br>
                    <label>Instruction :</label>
                    <textarea id="instuction" name="instruction" rows="4" cols="50" required></textarea><br><br>
                    <input type="submit" style="width: 100%; height: 45px;" value="Submit" onclick="submitReviewForm()"
                        style="text-align: center;">
        
                </form>
                <button style="width: 100%; height: 45px;" onclick="closeReviewForm()">Close</button>
            </div>
        </div>

    </div>



















    <script id="flash-message">
        <%if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',
                type: 'success',
                text: "<%=flash.success%>",
                layout: 'topRight',
                timeout: 500
            }).show();
                    <%}%>
                     <%if (flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'relax',
                type: 'error',
                text: "<%=flash.error%>",
                layout: 'topRight',
                timeout: 500
            }).show();
        <%}%>
    </script>

    <script>
      

        function openReviewForm() {
                    var mongooseDate = new Date();
                    var formattedDate = mongooseDate.toISOString().split('T')[0];
                    document.getElementById("pending-date").value = formattedDate;
                    document.getElementById("pending-date").min = formattedDate;
                    document.getElementById("overlay").style.display = "block";

                    updateSelect2();
                }

            function closeReviewForm() {
                document.getElementById("overlay").style.display = "none";
            }

            function submitReviewForm() {
                console.log(idd);
                document.getElementById(idd).remove()
            }
            function updateSelect2() {
                var select1 = document.getElementById('select1');
                var select2 = document.getElementById('select2');
                var selectedOption = select1.options[select1.selectedIndex].value;
                select2.innerHTML = "";
                for (var i = 0; i < select1.options.length; i++) {
                    var option = select1.options[i];
                    if (option.value !== selectedOption) {
                        var newOption = document.createElement('option');
                        newOption.value = option.value;
                        newOption.text = option.text;
                        select2.add(newOption);
                    }
                }
            }

    </script>







</body>

</html>
