<!DOCTYPE html>
<html lang="en">

<head>
    <title>Employee</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/employeeView.css">

</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="background1">
        <div class="shape1"></div>
        <div class="shape1"></div>
    </div>

    <div id="main">
        <div id="heading">
            <div id="hh">
                <h2>ADMIN PORTAL</h2>
            </div>
            <div id="options">
            <div id="performance" class="options-button">
                <a href="/employee/admin" style="text-decoration: none;"><button>Performance</button></a>
            </div>
            <div id="employee" class="options-button">
                <a href="/employee/employeeView" style="text-decoration: none;"><button>Employee</button></a>
            </div>
            <div id="reviews" class="options-button">
                <a href="/employee/employeeReview" style="text-decoration: none;"><button>Reviews</button></a>
            </div>
            <div id="assign" class="options-button">
                <a href="/employee/assign" style="text-decoration: none;"><button>Assign Employee</button></a>
            </div>
            </div>
            <div id="logout">
                <div id="name">
                    &nbsp;&nbsp;<%=locals.name%>
                    
                </div>

                <div id="button">
                    <a style="text-decoration: none;" href="/employee/destroySession"><button>Log Out</button></a>
                </div>
            </div>
        </div>

        <div id="content">

                <div id="employee-list">
                    <div id="emp-add">
                        <div>
                            <h2> Employee List : </h2>
                        </div>
                        <div>
                            <a style="text-decoration: none;"><button onclick="assign()">Add Employee</button></a>
                        </div>
                    </div>
                    
                    <%for(employee of employeeList){%>
                        <div id="employee-list-item">
                            <div id="employee-list-item-content">
                                Employee Name : <%=employee.name%> <br>
                                Pending Reviews : 3
                            </div>
                            <div id="employee-list-item-edit">
                                <a style="text-decoration: none;"><button onclick="assign('<%= JSON.stringify(employee) %>')">Edit</button></a>
                            </div>
                        </div>
                    <%}%>
                </div>
                <div id="employee-edit">
                
                </div>
        </div>

    </div>


    <script id="flash-message">
        <%if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',
                type: 'success',
                text: "<%=flash.success%>",
                layout: 'topRight',
                timeout: 500
            }).show();
                    <%}%>
                     <%if (flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'relax',
                type: 'error',
                text: "<%=flash.error%>",
                layout: 'topRight',
                timeout: 500
            }).show();
        <%}%>
    </script>

    <script>
        function assign(employeeString) {
            if(employeeString == null){
                var employeeEdit = document.getElementById('employee-edit');
                employeeEdit.innerHTML = `
                <form action="/employee/add" method="POST">
                    
                    <h3>Employee Details</h3>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required placeholder="Employee Name">
                
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required placeholder="Email">
                
                    <label for="department">Department</label>
                    <input type="text" id="department" name="department" required placeholder="Department">
                
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" id="password" name="password" required>

                    <label for="password">Confirm Password</label>
                    <input type="password" placeholder="Password" id="confirm_password" name="confirm_password" required>
                    <br>
                    <input type="submit" style="background-color: white; cursor : pointer; color: black; width: 100%;"><br>

                </form>
                `
            }else{
                var employee = JSON.parse(employeeString);
                var employeeEdit = document.getElementById('employee-edit');
                employeeEdit.innerHTML = `
                <form action="/employee/edit" method="POST">
                    <h3>Edit Employee :</h3>
                    
                    <input type="hidden" value="${employee._id}" id="id" name="id" disabled>

                    <label for="name">Name</label>
                    <input type="text" value="${employee.name}" id="name" name="name" disabled>
                
                    <label for="email">Email</label>
                    <input type="email" value="${employee.email}" id="email" name="email" disabled>
                
                    <label for="department">Department</label>
                    <input type="text" value="${employee.department}" id="department" name="department" required>  
                    <br>
                    <input type="submit" style="background-color: white; cursor : pointer; color: black; width: 100%;"><br>
                    </form>
                    <br>
                    <a href="/employee/remove/${employee._id}"><button>REMOVE EMPLOYEE</button></a><br><br>
                    <a href="/employee/setAdmin/${employee._id}"><button> MAKE ADMIN</button></a>
                `
            }
        }
    </script>







</body>

</html>